@font-face {
    font-family: 'Jameel Noori Nastaleeq';
    src: url('Jameel-Noori-Nastaleeq-Regular.woff2') format('woff2'),
         url('Jameel-Noori-Nastaleeq-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
